[Unit]
Requires=zookeeper.service
After=zookeeper.service

[Service]
Type=simple
User=vagrant
ExecStart=/bin/sh -c '/home/vagrant/kafka/bin/kafka-server-start.sh /home/vagrant/kafka/config/server.properties > /var/log/kafka.log 2>&1'
ExecStop=/home/vagrant/kafka/bin/kafka-server-stop.sh
Restart=on-abnormal

[Install]
WantedBy=multi-user.target
